@import "variables.scss";


@font-face{
  font-family: "Montserrat-local";
  src:"./datos/typo/montserrat/static/Montserrat-Light.ttf";
  font-optical-sizing: auto;
  font-style: normal;
}

@font-face{
  font-family: "Montserrat-local2";
  src:"./datos/typo/montserrat/static/Montserrat-Light.ttf";
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-family: "Montserrat-local",sans-serif;
  color: $white;
  background-image: radial-gradient($blue,$black);
  font-weight: 300;
}

.nav-ul a {
  font-family: "Montserrat-local2", sans-serif;
  color: $whitelink;
}